<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** 


tracks statewide participation between SAT and ACT to recommend where should the board improve participation rates

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

However, many students feel obliged to take these exam as 2.2 Million test-takers completed the SAT while 1.8 million students took the ACT. It has been known that SAT is more popular on the East and West coast, and the ACT is reigning in the MidWest.

![SAT-vs-ACT-popularity-by-state](../image/SAT-vs-ACT-popularity-by-state.png)

In this study, we will explore how the trends has been for the last three years for each test, Nationwide and in top state where SAT is more favorable, to point out where should the board improve its marketing campaign to take over the competitor and make the most profit.

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](../data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](../data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](../data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](../data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](../data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](../data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](../data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](../data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](../data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

In this analysis, the datasets used are

* [`sat_2017.csv`](../data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](../data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](../data/sat_2019.csv): 2019 SAT Scores by State



* [`act_2017.csv`](../data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](../data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](../data/act_2019.csv): 2019 ACT Scores by State


* [`students_by_state.xlsx`](../data/students_by_state.xlsx): Number of students enrolled in public high schools in the United States in 2017

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

Additional dataset

* [`students_by_state.xlsx`](../data/students_by_state.xlsx): Number of students enrolled in public high schools in the United States in 2017 from https://www.statista.com/statistics/1036120/public-high-school-enrollment-state-us/


There ia also a myth that an Ivy League school has SAT preference over ACT, however, that is not true. In regards to the geographic argument, Yale University, an Ivy League school, has an approximate 6% in-state undergraduate population. From the students they enrolled, 74% took the SAT and 45% took the ACT. That indicates some students took both. The reason comes from only that most of their students are coming from SAT dominated states (California and New York.)

The reason behind the state/geographic dominance of SAT is due to the fact that The College Board's founder are a group of a dozen colleges who are all on the east coast. While the ACT was developed at University of Iowa in the Midwest which both tests still have its dominance in its origin state till now.

Let's look at the registration Costs for SAT and ACT

|Fee type|Details|SAT Cost|ACT Cost|
|---|---|---|---|
|**Registration Fee**|The normal fee for each administration of the test you register for|\\$68  (\\$52 without essay)|\\$70  (\\$55 without essay)|
|**Late Fee**|Charged if you register after the regular deadline but before the final late deadline	|\\$30|\\$32|

(https://blog.prepscholar.com/sat-cost-act-cost-and-how-to-save-money)

It can be seen that the price of both test is very similar

Below is 2019 Median Household Income in the US.

![median_hh_income](../image/median_hh_income.png)

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Code:
def mean(nums):
    '''return the average values of input list of numbers''' 
    result = 0
    for num in nums:
        result += num
    return result/len(nums)

In [2]:
num_list = [1,2,3,4,5,6,7,8,9,10]

In [3]:
mean(num_list)

5.5

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [5]:
# Code:
def std(nums):
    """return the standard deviation of the input list of numbers"""
    result = 0
    for num in nums:
        result += (num-mean(nums))**2
    return (result/len(nums))**0.5

In [6]:
std(num_list)

2.8722813232690143

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [7]:
# Code:
def to_pc(txt):
    """convert take-in string which contains a number and a percent symbol to
    float with the decimal approximation of the percent
    """
    num = float(txt[:-1])
    return num/100

In [8]:
print(to_pc('20%'))
print(to_pc('30.5%'))
print(to_pc('50%'))
print(to_pc('0.1%'))

0.2
0.305
0.5
0.001

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [9]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as m
import seaborn as sns

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

### Load the data

In [10]:
# read file and show its head:
sat_2019 = pd.read_csv('../data/sat_2019.csv')
sat_2018 = pd.read_csv('../data/sat_2018.csv')
sat_2017 = pd.read_csv('../data/sat_2017.csv')

sat_2019.head()

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

In [11]:
#rename columns
sat_2019.columns = sat_2019.columns.str.replace(' ','_').str.lower()

sat_2019.head()

        state participation_rate  ebrw  math  total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

In [12]:
#Check Shape
sat_2019.shape

(53, 5)

In [13]:
sat_2019.dtypes

state                 object
participation_rate    object
ebrw                   int64
math                   int64
total                  int64
dtype: object

### Number of state should be 50 + 1 (Federal district)

In [14]:
sat_2019.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

**Drop 'Puerto Rico' & 'Virgin Islands'**

In [15]:
sat_2019 = sat_2019[(sat_2019['state'] !='Puerto Rico') &( sat_2019['state'] !='Virgin Islands')]
sat_2019.shape

(51, 5)

In [16]:
#create state_list to be used for check in other data
state_list = list(sat_2019['state'].unique())

In [17]:
print(state_list)
print(len(state_list))

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
51

**Continue working on sat_2018 and sat_2017**

In [18]:
#display sat_2018 head
sat_2018.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [19]:
#Check shape
sat_2018.shape

(51, 5)

In [20]:
#rename sat_2018 columns to have same column name with sat_2019
sat_2018.columns = sat_2019.columns
sat_2018.head()

        state participation_rate  ebrw  math  total
0     Alabama                 6%   595   571   1166
1      Alaska                43%   562   544   1106
2     Arizona                29%   577   572   1149
3    Arkansas                 5%   592   576   1169
4  California                60%   540   536   1076

In [21]:
#repeat with sat_2017
sat_2017.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [22]:
#Check shape
sat_2017.shape

(51, 5)

In [23]:
#Rename columns
sat_2017.columns = sat_2019.columns
sat_2017.head()

        state participation_rate  ebrw  math  total
0     Alabama                 5%   593   572   1165
1      Alaska                38%   547   533   1080
2     Arizona                30%   563   553   1116
3    Arkansas                 3%   614   594   1208
4  California                53%   531   524   1055

In [24]:
#check for null value
print(sat_2019.shape,'\n')
sat_2019.info()

(51, 5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 52
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               51 non-null     object
 1   participation_rate  51 non-null     object
 2   ebrw                51 non-null     int64
 3   math                51 non-null     int64
 4   total               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.4+ KB

In [25]:
print(sat_2018.shape,'\n')
sat_2018.info()

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               51 non-null     object
 1   participation_rate  51 non-null     object
 2   ebrw                51 non-null     int64
 3   math                51 non-null     int64
 4   total               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [26]:
print(sat_2017.shape,'\n')
sat_2017.info()

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               51 non-null     object
 1   participation_rate  51 non-null     object
 2   ebrw                51 non-null     int64
 3   math                51 non-null     int64
 4   total               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [27]:
#apply to_pc function to all sat file
to_change = [sat_2019,sat_2018,sat_2017]
for sat in to_change:
    sat['participation_rate']  = sat['participation_rate'].apply(to_pc)

In [28]:
sat_2019.head()

        state  participation_rate  ebrw  math  total
0     Alabama                0.07   583   560   1143
1      Alaska                0.41   556   541   1097
2     Arizona                0.31   569   565   1134
3    Arkansas                0.06   582   559   1141
4  California                0.63   534   531   1065

In [29]:
sat_2018.head()

        state  participation_rate  ebrw  math  total
0     Alabama                0.06   595   571   1166
1      Alaska                0.43   562   544   1106
2     Arizona                0.29   577   572   1149
3    Arkansas                0.05   592   576   1169
4  California                0.60   540   536   1076

In [30]:
sat_2017.head()

        state  participation_rate  ebrw  math  total
0     Alabama                0.05   593   572   1165
1      Alaska                0.38   547   533   1080
2     Arizona                0.30   563   553   1116
3    Arkansas                0.03   614   594   1208
4  California                0.53   531   524   1055

In [31]:
#import datetime
import datetime as dt
yr_2019 = dt.date(2019,1,1)
yr_2018 = dt.date(2018,1,1)
yr_2017 = dt.date(2017,1,1)

In [32]:
#create new column
sat_2019['year'] = yr_2019.year
sat_2018['year'] = yr_2018.year
sat_2017['year'] = yr_2017.year

In [33]:
#append dataframe together
sat_data = sat_2019.append(sat_2018).append(sat_2017)
sat_data.reset_index(inplace=True,drop=True)

In [34]:
sat_data.tail()

             state  participation_rate  ebrw  math  total  year
148       Virginia                0.65   561   541   1102  2017
149     Washington                0.64   541   534   1075  2017
150  West Virginia                0.14   558   528   1086  2017
151      Wisconsin                0.03   642   649   1291  2017
152        Wyoming                0.03   626   604   1230  2017

In [35]:
sat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               153 non-null    object
 1   participation_rate  153 non-null    float64
 2   ebrw                153 non-null    int64
 3   math                153 non-null    int64
 4   total               153 non-null    int64
 5   year                153 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 7.3+ KB

## Working on ACT data same process as SAT data

In [36]:
#read act 
act_2019 = pd.read_csv('../data/act_2019.csv')
act_2018 = pd.read_csv('../data/act_2018.csv')
act_2017 = pd.read_csv('../data/act_2017.csv')

act_2019.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

In [37]:
act_2019.shape #row is more than 51 again!

(52, 3)

In [38]:
act_2019.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'National'], dtype=object)

In [39]:
for state in act_2019['State']:
    if state not in state_list:
        print(state)
print('Done')

National
Done

Drop National

In [40]:
act_2019.drop(act_2019.index[-1],inplace=True)

Continue on 2018 and 2017 ACT data

In [41]:
act_2018.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [42]:
act_2018.shape

(52, 3)

In [43]:
act_2018.tail()

            State Participation  Composite
47       Virginia           24%       23.9
48     Washington           24%       22.2
49  West Virginia           65%       20.3
50      Wisconsin          100%       20.5
51        Wyoming          100%       20.0

## Found repeat rows, no national row on 2018

In [44]:
for state in act_2018['State']:
    if state not in state_list:
        print(state)
print('Done')

District of columbia
Done

In [45]:
act_2018['State'].value_counts().head()

Maine            2
Rhode Island     1
Pennsylvania     1
Maryland         1
Massachusetts    1
Name: State, dtype: int64

In [46]:
act_2018[act_2018['State'] == 'Maine']

    State Participation  Composite
19  Maine            7%       24.0
20  Maine            7%       24.0

In [47]:
act_2018.drop(act_2018.index[20],inplace=True)

In [48]:
act_2018.shape

(51, 3)

In [49]:
act_2017.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [50]:
act_2017.shape

for state in act_2017['State']:
    if state not in state_list:
        print(state)
print('Done')

National
Done

In [51]:
act_2017[act_2017['State'] =='National']

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0

In [52]:
act_2017.drop(act_2017.index[0],inplace=True)

In [53]:
act_2017.shape

(51, 7)

## Rename Columns to have same format with SAT

In [54]:
#rename act_2019 columns 
act_2019.rename(columns = {"State":'state',"Participation":'participation_rate',"Composite":'total'}, inplace =True)
act_2019.head()

        state participation_rate  total
0     Alabama               100%   18.9
1      Alaska                38%   20.1
2     Arizona                73%   19.0
3    Arkansas               100%   19.3
4  California                23%   22.6

In [55]:
#rename act_2018 columns 
act_2018.rename(columns = {"State":'state',"Participation":'participation_rate',"Composite":'total'}, inplace =True)
act_2018.head()

        state participation_rate  total
0     Alabama               100%   19.1
1      Alaska                33%   20.8
2     Arizona                66%   19.2
3    Arkansas               100%   19.4
4  California                27%   22.7

In [56]:
#drop and rename act_2017 column 
act_2017.columns

Index(['State', 'Participation', 'English', 'Math', 'Reading', 'Science',
       'Composite'],
      dtype='object')

In [57]:
act_2017.drop(columns =['English','Math','Reading','Science'],inplace=True)
act_2017.head()

        State Participation Composite
1     Alabama          100%      19.2
2      Alaska           65%      19.8
3     Arizona           62%      19.7
4    Arkansas          100%      19.4
5  California           31%      22.8

In [58]:
act_2017.rename(columns = {"State":'state',"Participation":'participation_rate',"Composite":'total'}, inplace =True)
act_2017.head()

        state participation_rate total
1     Alabama               100%  19.2
2      Alaska                65%  19.8
3     Arizona                62%  19.7
4    Arkansas               100%  19.4
5  California                31%  22.8

In [59]:
#apply to_pc function to participation_rate columns
for act in [act_2019,act_2018,act_2017]:
    act['participation_rate'] = act['participation_rate'].apply(to_pc)

In [60]:
#create new column
act_2019['year'] = yr_2019.year
act_2018['year'] = yr_2018.year
act_2017['year'] = yr_2017.year

#append
act_data = act_2019.append(act_2018).append(act_2017)
act_data.reset_index(drop=True,inplace=True)
act_data

             state  participation_rate  total  year
0          Alabama                1.00   18.9  2019
1           Alaska                0.38   20.1  2019
2          Arizona                0.73     19  2019
3         Arkansas                1.00   19.3  2019
4       California                0.23   22.6  2019
..             ...                 ...    ...   ...
148       Virginia                0.29   23.8  2017
149     Washington                0.29   21.9  2017
150  West Virginia                0.69   20.4  2017
151      Wisconsin                1.00   20.5  2017
152        Wyoming                1.00  20.2x  2017

[153 rows x 4 columns]

## Found that total in act_data is not float

In [61]:
act_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               153 non-null    object
 1   participation_rate  153 non-null    float64
 2   total               153 non-null    object
 3   year                153 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.9+ KB

In [62]:
#fix some data
act_data['total'].unique()

array([18.9, 20.1, 19.0, 19.3, 22.6, 23.8, 25.5, 24.1, 23.5, 21.4, 22.5,
       24.3, 21.6, 21.2, 19.8, 18.8, 22.3, 24.4, 18.4, 20.8, 20.0, 17.9,
       25.0, 24.2, 24.5, 19.9, 21.1, 23.6, 24.7, 19.4, 20.5, 20.3, 24.0,
       22.1, 19.1, 19.2, 22.7, 23.9, 25.6, 21.8, 20.2, 21.3, 18.6, 17.7,
       25.1, 23.7, 18.3, 21.9, 19.6, 20.7, 20.4, 22.2, '19.2', '19.8',
       '19.7', '19.4', '22.8', '20.8', '25.2', '24.1', '24.2', '21.4',
       '19.0', '22.3', '22.6', '21.9', '21.7', '20.0', '19.5', '24.3',
       '23.6', '25.4', '21.5', '18.6', '20.4', '20.3', '17.8', '25.5',
       '23.9', '19.1', '22.0', '21.8', '23.7', '24.0', '18.7', '20.7',
       '23.8', '20.5', '20.2x'], dtype=object)

In [63]:
#fix some data 

act_data[act_data['total'] == '20.2x']

       state  participation_rate  total  year
152  Wyoming                 1.0  20.2x  2017

In [64]:
act_data.iloc[-1:,-2] = 20.2

In [65]:
act_data['total'].unique() #cast float to change string to float

array([18.9, 20.1, 19.0, 19.3, 22.6, 23.8, 25.5, 24.1, 23.5, 21.4, 22.5,
       24.3, 21.6, 21.2, 19.8, 18.8, 22.3, 24.4, 18.4, 20.8, 20.0, 17.9,
       25.0, 24.2, 24.5, 19.9, 21.1, 23.6, 24.7, 19.4, 20.5, 20.3, 24.0,
       22.1, 19.1, 19.2, 22.7, 23.9, 25.6, 21.8, 20.2, 21.3, 18.6, 17.7,
       25.1, 23.7, 18.3, 21.9, 19.6, 20.7, 20.4, 22.2, '19.2', '19.8',
       '19.7', '19.4', '22.8', '20.8', '25.2', '24.1', '24.2', '21.4',
       '19.0', '22.3', '22.6', '21.9', '21.7', '20.0', '19.5', '24.3',
       '23.6', '25.4', '21.5', '18.6', '20.4', '20.3', '17.8', '25.5',
       '23.9', '19.1', '22.0', '21.8', '23.7', '24.0', '18.7', '20.7',
       '23.8', '20.5'], dtype=object)

In [66]:
act_data['total'] = [float(num) for num in act_data['total']]

## number of students by each state of year 2019

In [67]:
#load csv
student = pd.read_excel('../data/students_by_state.xlsx')
student.head()

        State  num_students_public_high_schools
0  California                           1946999
1       Texas                           1548389
2     Florida                            851843
3    New York                            844455
4    Illinois                            616176

In [68]:
#check for data types
student.dtypes

State                               object
num_students_public_high_schools     int64
dtype: object

In [69]:
#check for shape
student.shape

(51, 2)

Clean and try merge with sat_2019

In [70]:
#rename columns
student.rename(columns = {"State":'state',"num_students_public_high_schools":'no_students'},inplace=True)
student.head()

        state  no_students
0  California      1946999
1       Texas      1548389
2     Florida       851843
3    New York       844455
4    Illinois       616176

In [71]:
#try merge number of student to sat
sat_2019.merge(student,how='left',on='state').sort_values('no_students').tail()

            state  participation_rate  ebrw  math  total  year  no_students
9         Florida                1.00   516   483    999  2019     851843.0
43          Texas                0.68   515   507   1022  2019    1548389.0
4      California                0.63   534   531   1065  2019    1946999.0
48  West Virginia                0.99   483   460    943  2019          NaN
49      Wisconsin                0.03   635   648   1283  2019          NaN

In [72]:
student['state'].unique()

array(['California', 'Texas', 'Florida', 'New York', 'Illinois',
       'Pennsylvania', 'Georgia', 'Ohio', 'Michigan', 'North Carolina',
       'New Jersey', 'Virginia', 'Washington', 'Arizona', 'Indiana',
       'Massachusetts', 'Tennessee', 'Minnesota', 'Colorado', 'Missouri',
       'Wissonsin', 'Maryland', 'South Carolina', 'Alabama', 'Louisiana',
       'Kentucky', 'Utah', 'Oklahoma', 'Oregon', 'Connecticut', 'Iowa',
       'Kansas', 'Arkansas', 'Nevada', 'Mississippi', 'New Mexico',
       'Nebraska', 'Idaho', 'West Viginia', 'New Hampshire', 'Maine',
       'Hawaii', 'Rhode Island', 'Montana', 'Delaware', 'Alaska',
       'South Dakota', 'North Dakota', 'Wyoming', 'Vermont',
       'District of Columbia'], dtype=object)

In [73]:
student['state'] = ['West Virginia' if x == "West Viginia" else 'Wisconsin' if x== "Wissonsin" else x for x in student['state']]

In [74]:
#try merge number of student to sat
sat_2019.merge(student,how='left',on='state').sort_values('no_students')

,state,participation_rate,ebrw,math,total,year,no_students
8,District of Columbia,0.94,495,480,975,2019,19173
45,Vermont,0.66,560,546,1106,2019,24976
50,Wyoming,0.03,623,615,1238,2019,27361
34,North Dakota,0.02,627,636,1263,2019,30889
41,South Dakota,0.03,633,635,1268,2019,37945
1,Alaska,0.41,556,541,1097,2019,38254
7,Delaware,1.00,499,486,985,2019,40903
26,Montana,0.09,603,596,1199,2019,43399
39,Rhode Island,1.00,503,492,995,2019,44212
11,Hawaii,0.54,550,550,1100,2019,50582
19,Maine,0.99,512,502,1013,2019,55536
29,New Hampshire,0.95,533,526,1059,2019,56776
48,West Virginia,0.99,483,460,943,2019,78305
12,Idaho,1.00,505,488,993,2019,90259
27,Nebraska,0.03,628,631,1260,2019,94935
31,New Mexico,0.18,543,530,1073,2019,98506
24,Mississippi,0.03,628,608,1237,2019,136394
28,Nevada,0.20,580,576,1156,2019,141978
3,Arkansas,0.06,582,559,1141,2019,143572
16,Kansas,0.04,618,623,1241,2019,143658
15,Iowa,0.03,622,622,1244,2019,148142
6,Connecticut,1.00,529,516,1046,2019,165742
37,Oregon,0.51,562,550,1112,2019,180324
36,Oklahoma,0.22,490,472,963,2019,191296
44,Utah,0.04,614,615,1230,2019,193167
17,Kentucky,0.04,620,612,1232,2019,199016
18,Louisiana,0.05,610,591,1200,2019,200976
0,Alabama,0.07,583,560,1143,2019,219387
40,South Carolina,0.68,526,504,1030,2019,224093
20,Maryland,0.82,535,523,1058,2019,259893
49,Wisconsin,0.03,635,648,1283,2019,261916
25,Missouri,0.04,622,615,1236,2019,266775
5,Colorado,1.00,518,506,1024,2019,270405
23,Minnesota,0.04,636,648,1284,2019,270468
42,Tennessee,0.07,618,602,1220,2019,291569
21,Massachusetts,0.81,559,561,1120,2019,296376
14,Indiana,0.66,543,537,1080,2019,325521
2,Arizona,0.31,569,565,1134,2019,333107
47,Washington,0.70,539,535,1074,2019,340375
46,Virginia,0.68,567,551,1119,2019,391435
30,New Jersey,0.82,544,545,1090,2019,420114
33,North Carolina,0.51,554,546,1100,2019,472652
22,Michigan,1.00,507,496,1003,2019,478614
35,Ohio,0.19,550,548,1097,2019,517145
10,Georgia,0.71,538,519,1058,2019,522034
38,Pennsylvania,0.70,545,537,1082,2019,543865
13,Illinois,1.00,509,504,1013,2019,616176
32,New York,0.79,531,533,1064,2019,844455
9,Florida,1.00,516,483,999,2019,851843
43,Texas,0.68,515,507,1022,2019,1548389
4,California,0.63,534,531,1065,2019,1946999

**merge no_students to sat_data and act_data**

In [75]:
sat_data = sat_data.merge(student,on='state')
sat_data

         state  participation_rate  ebrw  math  total  year  no_students
0      Alabama                0.07   583   560   1143  2019       219387
1      Alabama                0.06   595   571   1166  2018       219387
2      Alabama                0.05   593   572   1165  2017       219387
3       Alaska                0.41   556   541   1097  2019        38254
4       Alaska                0.43   562   544   1106  2018        38254
..         ...                 ...   ...   ...    ...   ...          ...
148  Wisconsin                0.03   641   653   1294  2018       261916
149  Wisconsin                0.03   642   649   1291  2017       261916
150    Wyoming                0.03   623   615   1238  2019        27361
151    Wyoming                0.03   633   625   1257  2018        27361
152    Wyoming                0.03   626   604   1230  2017        27361

[153 rows x 7 columns]

In [76]:
act_data = act_data.merge(student,on='state')
act_data

         state  participation_rate  total  year  no_students
0      Alabama                1.00   18.9  2019       219387
1      Alabama                1.00   19.1  2018       219387
2      Alabama                1.00   19.2  2017       219387
3       Alaska                0.38   20.1  2019        38254
4       Alaska                0.33   20.8  2018        38254
..         ...                 ...    ...   ...          ...
147  Wisconsin                1.00   20.5  2018       261916
148  Wisconsin                1.00   20.5  2017       261916
149    Wyoming                1.00   19.8  2019        27361
150    Wyoming                1.00   20.0  2018        27361
151    Wyoming                1.00   20.2  2017        27361

[152 rows x 5 columns]

**Write Both sat_data and act_data to file**

In [77]:
#write to csv
sat_data.to_csv('../data/sat_data.csv',index = False)

In [78]:
#write to csv
act_data.to_csv('../data/act_data.csv',index = False)

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**state**|object|sat.data,act.data|State where the data is collected|
|**participation_rate**|float|sat.data,act.data|the percent of number of people who took the test|
|**ebrw**|int|sat.data|Average Score in Evidence-Based Reading and Writing section|
|**math**|int|sat.data|Average Score in Math section|
|**total**|int|sat.data,act.data|Average Total Score in that state|
|**year**|int|sat.data,act.data|Year when data is collected|
|**no_students**|int|sat.data,act.data|Number of students enrolled in public high schools in the United States in 2017|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

**Summary Statistics.**

In [80]:
#Summary statistics of Sat_data
sat_data.describe()

,participation_rate,ebrw,math,total,year,no_students
count,153.000000,153.000000,153.000000,153.000000,153.000000,1.530000e+02
mean,0.448693,564.535948,552.019608,1119.732026,2018.000000,2.978408e+05
std,0.370944,46.301362,63.246434,94.162654,0.819178,3.561549e+05
min,0.020000,480.000000,52.000000,943.000000,2017.000000,1.917300e+04
25%,0.040000,531.000000,521.000000,1053.000000,2017.000000,7.830500e+04
50%,0.500000,554.000000,546.000000,1099.000000,2018.000000,1.990160e+05
75%,0.760000,614.000000,596.000000,1210.000000,2019.000000,3.403750e+05
max,1.000000,644.000000,655.000000,1298.000000,2019.000000,1.946999e+06

In [95]:
#Summary statistics of Sat_data in 2019
sat_data[sat_data['year'] == 2019].describe()

,participation_rate,ebrw,math,total,year,no_students
count,51.000000,51.000000,51.000000,51.000000,51.0,5.100000e+01
mean,0.490588,560.803922,552.196078,1113.078431,2019.0,2.978408e+05
std,0.387476,46.248035,51.290553,97.197910,0.0,3.585214e+05
min,0.020000,483.000000,460.000000,943.000000,2019.0,1.917300e+04
25%,0.055000,527.500000,511.500000,1038.000000,2019.0,8.428200e+04
50%,0.540000,550.000000,546.000000,1097.000000,2019.0,1.990160e+05
75%,0.820000,612.000000,599.000000,1210.000000,2019.0,3.367410e+05
max,1.000000,636.000000,648.000000,1284.000000,2019.0,1.946999e+06

In [96]:
#Summary statistics of Act_data in 
act_data.describe()

       participation_rate       total         year   no_students
count          152.000000  152.000000   152.000000  1.520000e+02
mean             0.620789   21.479605  2018.000000  2.996742e+05
std              0.334896    2.096207     0.821886  3.566072e+05
min              0.060000   17.700000  2017.000000  1.917300e+04
25%              0.290000   19.800000  2017.000000  8.727050e+04
50%              0.660000   21.250000  2018.000000  1.990160e+05
75%              1.000000   23.625000  2019.000000  3.403750e+05
max              1.000000   25.600000  2019.000000  1.946999e+06

In [97]:
#Summary statistics of Sat_data in 2019
act_data[act_data['year'] == 2019].describe()

       participation_rate      total    year   no_students
count           51.000000  51.000000    51.0  5.100000e+01
mean             0.586667  21.464706  2019.0  2.978408e+05
std              0.345159   2.194523     0.0  3.585214e+05
min              0.060000  17.900000  2019.0  1.917300e+04
25%              0.245000  19.800000  2019.0  8.428200e+04
50%              0.540000  21.100000  2019.0  1.990160e+05
75%              1.000000  23.700000  2019.0  3.367410e+05
max              1.000000  25.500000  2019.0  1.946999e+06

Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.

In [126]:
sd_sat = {c:std(sat_data[c]) for c in sat_data.columns if sat_data[c].dtype != 'O'}
sd_sat

{'participation_rate': 0.3697299717899723,
 'ebrw': 46.14980241905187,
 'math': 63.03940780015248,
 'total': 93.85442813319179,
 'year': 0.816496580927726,
 'no_students': 354989.1106440191}

In [127]:
sd_act = {c:std(act_data[c]) for c in act_data.columns if act_data[c].dtype != 'O'}
sd_act

{'participation_rate': 0.33379304633849627,
 'total': 2.0893003996487187,
 'year': 0.8191780219091253,
 'no_students': 355432.237401472}

Let's look at nationwide number of students take both test

In [138]:
sat_data['test_takers'] = sat_data['participation_rate'] * sat_data['no_students']
sat_data.head()

,state,participation_rate,ebrw,math,total,year,no_students,test_takers
0,Alabama,0.07,583,560,1143,2019,219387,15357.09
1,Alabama,0.06,595,571,1166,2018,219387,13163.22
2,Alabama,0.05,593,572,1165,2017,219387,10969.35
3,Alaska,0.41,556,541,1097,2019,38254,15684.14
4,Alaska,0.43,562,544,1106,2018,38254,16449.22

In [143]:
sat_data.groupby('year')['test_takers'].sum()

year
2017    7134355.58
2018    8298224.78
2019    8935245.83
Name: test_takers, dtype: float64

In [141]:
act_data['test_takers'] = act_data['participation_rate'] * act_data['no_students']
act_data.head()

     state  participation_rate  total  year  no_students  test_takers
0  Alabama                1.00   18.9  2019       219387    219387.00
1  Alabama                1.00   19.1  2018       219387    219387.00
2  Alabama                1.00   19.2  2017       219387    219387.00
3   Alaska                0.38   20.1  2019        38254     14536.52
4   Alaska                0.33   20.8  2018        38254     12623.82

In [144]:
act_data.groupby('year')['test_takers'].sum()

year
2017    8820972.22
2018    8148084.67
2019    7540035.63
Name: test_takers, dtype: float64

This showed that ,in 2017, the number of students took ACT test is more that SAT but had a decresing trend and SAT surpass in 2019

Now Let's take a look at top and bottom partipation rate of each test for 2019

In [149]:
sat_data[sat_data['year'] == 2019].sort_values('participation_rate',ascending = False).head()

,state,participation_rate,ebrw,math,total,year,no_students,test_takers
117,Rhode Island,1.0,503,492,995,2019,44212,44212.0
39,Illinois,1.0,509,504,1013,2019,616176,616176.0
66,Michigan,1.0,507,496,1003,2019,478614,478614.0
15,Colorado,1.0,518,506,1024,2019,270405,270405.0
18,Connecticut,1.0,529,516,1046,2019,165742,165742.0

In [150]:
sat_data[sat_data['year'] == 2019].sort_values('participation_rate').head()

,state,participation_rate,ebrw,math,total,year,no_students,test_takers
102,North Dakota,0.02,627,636,1263,2019,30889,617.78
150,Wyoming,0.03,623,615,1238,2019,27361,820.83
123,South Dakota,0.03,633,635,1268,2019,37945,1138.35
81,Nebraska,0.03,628,631,1260,2019,94935,2848.05
147,Wisconsin,0.03,635,648,1283,2019,261916,7857.48

In [152]:
act_data[act_data['year'] == 2019].sort_values('participation_rate',ascending = False).head()

         state  participation_rate  total  year  no_students  test_takers
0      Alabama                 1.0   18.9  2019       219387     219387.0
50    Kentucky                 1.0   19.8  2019       199016     199016.0
146  Wisconsin                 1.0   20.3  2019       261916     261916.0
131       Utah                 1.0   20.3  2019       193167     193167.0
125  Tennessee                 1.0   19.4  2019       291569     291569.0

In [153]:
act_data[act_data['year'] == 2019].sort_values('participation_rate',ascending = True).head()

             state  participation_rate  total  year  no_students  test_takers
56           Maine                0.06   24.3  2019        55536      3332.16
116   Rhode Island                0.12   24.7  2019        44212      5305.44
21        Delaware                0.13   24.1  2019        40903      5317.39
86   New Hampshire                0.14   25.0  2019        56776      7948.64
113   Pennsylvania                0.17   23.6  2019       543865     92457.05

It can be seen that for state like **Rhode Island** there is a lot more SAT participants than ACT, while in **Wisconsin**, there is more ACT partipants as well.

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [79]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!